img{
	width: 1510px;
	padding-top: 0px;
	margin-left: 0px;
}
.heading
{
	position: absolute;
	top: 190px;
	left: 250px;
	color: goldenrod;
	font-size: 40px;
	font-family: cursive;
	font-weight: 900;
}
center
{
	color: darkgoldenrod;
	font-size: 30px ;
	top: 300px;
	left: 400px;
	position: absolute;
	
}
table
{
	font-size: 28px;
	position: absolute;
	top: 350px;
	left: 300px;
	color: darkgoldenrod;
	cell-padding: 4px;
}
th, td{
	padding: 20px;
}
a{
	text-decoration: none;
	color: cadetblue;
}